
article {
    display: flex;
    justify-content: center;
}

#important {
    display: flex;
    padding-top: 2em;
    flex-wrap: wrap;
    width: 50%;
    flex-direction: column;
    text-align: justify;
    font-size: 1.2em;
}

.important_subtitle {
    padding: .6em 0;
}

h3,h4 {
    text-align: center;
}

#important_formulario--link:hover {
    border: 2px blue solid;
    background-color: antiquewhite;
    border-radius: 6px;
    color: red;
}

#important_formulario--link:visited {
    color: black;
    font-weight: 600;
}