footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#info_dev {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: rgb(175, 238, 217);
}

#info_dev--paragrafo {
    font-weight: bold;
    color: rgba(110, 73, 73, 0.808);
}

#rede_social_dev--paragrafo {
    text-align: center;
}

#rede_social_dev--ul {
    display: flex;
}

.rede_social--li {
    list-style: none;
    padding: .3em;
}

.rede_social-img {
    width: 32px;
}
#copyright_img {
    width: 20px;
}

#copyright {
    background-color: black;
    color: white;
    text-align: center;
}