#form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#formulario {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    width: 410px;
}

#formulario_pessoal{
    display: flex;
    flex-direction: column;
}

#address {
    display: flex;
    flex-direction: column;
}

#tipo_sanguineo_section {
    display: flex;
    flex-direction: column;
}

.estado_regiao {
    background-color: darkgrey;
    color: white;
}

label {
    padding: .5em;
}

.question {
    padding-top: .8em;
    padding-bottom: .3em;
}

