header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: aquamarine;
    padding: .7em;
    box-shadow: 6px 9px 18px rgb(41, 37, 37);
}