header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: aquamarine;
    padding: 1em;
}

#navbar_li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    padding-right: .5em;

}