main {
    display: flex;
    justify-content: center;
}
article {
    padding: 1.3em 0;
    width: 50%;
}

.img_paragrafo{
    width: 32px;
}

h1 {
    display: flex;
    justify-content: center;
}

.paragrafo {
    text-align: justify;
    padding-top: 1em;
}

#aviso {
    padding-top: .5em;
}