article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}

.img_paragrafo{
    width: 32px;
}

h1 {
    display: flex;
    justify-content: center;
}

p {
    text-align: justify;
}